/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    font-family: 'Roboto', sans-serif;
    background-color: #dce4e7;
}

/* HEADER */
header{
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 40px;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
    padding-bottom: 10px;
}

/* MAIN */
main{
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 40px;
}

#button-1{
    background-color: #47adf1;
    color: white;
    border-color: #47adf1;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
}   

#button-2{
    background-color: white;
    color: grey;
    border-color: gray;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
}

